:root {
  --primary-color: #95a5a6;
  --secondary-color: #6B7A8F;
  --tertiary-color: #D3D3D3;
  --extra-color: #F5F5F5;
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Poppins:wght@400;700&family=Roboto:wght@500&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

nav {
  background-color: var(--secondary-color);
  position: fixed;
  top: 0;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100vw;
  line-height: 40px;
  z-index: 100;
}

nav img {
  max-height: 65px;
  border-radius: 50%;
  padding-top: 15px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: -15px;
}

nav li {
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.auth-section {
  display: flex;
  align-items: center;
}

.login,
.signup {
  margin-left: 15px;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
}

.login {
  background-color: var(--primary-color);
}

.login:hover {
  background-color: #d4e6f1;
}

.signup {
  background-color: var(--primary-color);
}

.signup:hover {
  background-color: #d4e6f1;
}

main {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-content {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--extra-color);
  height: 310px;
}

.slogan-text {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.slogan-text h1 {
  padding-top: 35px;
  font-family: 'Baloo 2', sans-serif;
}

.search-box {
  display: flex;
  align-items: center;
  width: 300px;
  margin: 20px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: #efefef;
  color: black;
}

.search-input {
  flex: 1;
  border: none;
  padding: 8px;
  margin-right: 10px;
  background-color: #efefef;
  color: #333;
  font-weight: 600;
}

.search-btn {
  padding: 8px 15px;
  background-color: #333;
  color: #efff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.middlecontent {
  background-color: grey;
  width: 100vw;
}

.header-text {
  display: flex;
  justify-content: center;
  text-align: center;
}

.header-text h1 {
  padding: 20px;
  max-width: 900px;
  text-align: center;
  font-family: poppins;
  font-weight: 300;
  color: white;
  font-weight: 500;
}

.features {
  font-size: large;
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: "box1 box2 box3" "box4 box5 box6";
  font-family: 'poppins';
}

.features div {
  text-align: center;
  padding: 15px;
  background-color: var(--extra-color);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.features div:hover {
  transform: scale(1.1);
}

.box1 {
  grid-area: box1;
}

.box2 {
  grid-area: box2;
}

.box3 {
  grid-area: box3;
}

.box4 {
  grid-area: box4;
}

.box5 {
  grid-area: box5;
}

.box6 {
  grid-area: box6;
}

.features h3 {
  margin-bottom: 10px;
  color: #333;
}

.features h5 {
  color: #555;
}

.demoimages {
  background-color: white;
  width: 100vw;
}

.creationHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
}

.creationHeader h1 {
  font-family: poppins;
  font-weight: 600;
  font-size: 24px;
  margin-top: 27px;
}

.ourCreation {
  display: grid;
  grid-template-areas: "image1 image2 image3" "image4 image5 image6";
  grid-gap: 1rem;
  margin: 20px;
}

.ourCreation div {
  text-align: center;
  padding: 15px;
  background-color: var(--extra-color);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image1 {
  grid-area: image1;
}

.image2 {
  grid-area: image2;
}

.image3 {
  grid-area: image3;
}

.image4 {
  grid-area: image4;
}

.image5 {
  grid-area: image5;
}

.image6 {
  grid-area: image6;
}

.ourCreation img {
  max-width: 160px;
  max-height: 150px;
  margin-bottom: 35px;
  transition: transform 0.3s ease;
}

.ourCreation img:hover {
  transform: scale(1.3);
}

.lastSection {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  width: 100vw;
  height: 282px;
  margin-top: -17px;
}

.text {
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-weight: 350;
  max-width: 950px;
  margin: 180px;
}

.lastText {
  padding-top: 10px;
  font-family: ballo 2;
  color: rgb(235, 230, 230);
  font-weight: 350;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 74px;
}

.image img {
  max-width: 60px;
  max-height: 30px;
  margin: 10px;
}

nav a {
  position: relative;
  border-bottom: 2px solid transparent;
  transition: color 0.3s ease, border-bottom 0.5s ease;
}

nav a:hover {
  color: #e9f0f7;
  border-bottom: 2px solid #e9f0f7;
}
